Source: php-tecnickcom-tc-lib-unicode
Maintainer: Nicola Asuni <info@tecnick.com>
Section: php
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/tecnickcom/tc-lib-unicode
Vcs-Git: https://github.com/tecnickcom/tc-lib-unicode.git

Package: php-tecnickcom-tc-lib-unicode
Provides: php-tc-lib-unicode
Architecture: all
Depends: php5 (>= 5.3.3)
Description: PHP Unicode methods.
 PHP library containing Unicode methods.
